html,
body {
  border: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1 {
  letter-spacing: 0.1rem;
  margin-top: 2.5rem;
  color: rgb(77, 1, 35);
}
.map--div {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
  font-size: 1rem;
}
.info--div {
  /* background: rgba(255, 255, 255, 0.545); */
  background: rgba(0, 0, 0, 0.081);
  position: absolute;
  font-size: 1rem;
  top: 0;
  left: 0;
  height: 100vh;
  width: 32vw;
  backdrop-filter: blur(150px);
  border: 1px solid rgba(0, 0, 0, 0.361);
  /* border-radius: 2rem 2rem 2rem; */
  /* box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.96); */
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  overflow-y: auto;
  /* padding-bottom: 1rem; */
}

.user-input--div {
  background-color: rgba(5, 13, 65, 0.144);
  background-color: rgba(68, 67, 67, 0.383);
  background-color: rgba(0, 0, 0, 0.057);
  backdrop-filter: blur(200px);
  margin: 1rem;
  padding: 1rem;
  height: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: 1fr 1fr;
  border-radius: 1rem;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.86);
  z-index: 10;
  /* letter-spacing: 1rem; */
}

.place-visited,
.place-type,
.submit,
.reset,
.date {
  font-size: 18px;
  height: auto;
  width: auto;
  padding: 1rem;
  padding-left: 0.8rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.submit,
.reset {
  border-radius: 1.8rem;
  grid-column-start: 0;
  grid-column-end: 1;
  height: min-content;
  /* background-color: rgba(31, 93, 237, 0.531);
  background-color: rgba(3, 43, 74, 0.803); */
  /* background: linear-gradient(to left, rgba(3, 43, 74, 0.803), black); */
  background-color: rgba(0, 0, 0, 0.761);
  background-color: rgba(0, 0, 0, 0.486);
  background-color: rgba(31, 93, 237, 0.531);
  background-color: rgba(31, 1, 255, 0.44);
  background-color: white;
  background: rgba(34, 159, 254, 0.822);

  /* background-color: rgba(3, 43, 74, 0.803); */
  border: none;
  /* background-color: rgba(14, 135, 228, 0.803); */
  color: black;
  color: rgba(1, 48, 255, 0.82);
  color: rgba(1, 33, 57, 0.803);
  color: white;
  /* color: rgba(98, 1, 255, 0.71); */
  font-weight: 600;
  border: 0.05rem solid black;
  /* font-size: 1.1rem; */
}
.reset {
  grid-column-start: 1;
  grid-column-end: 2;
  height: min-content;
  background: tomato;
}
.submit:hover {
  cursor: pointer;
  /* background-color: rgba(5, 76, 242, 0.531); */
  background-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(77, 12, 227, 0.887);
  /* background-color: rgb(89, 97, 244); */
  background-color: rgba(94, 26, 253, 0.876);
  background: linear-gradient(
    to left,
    rgba(1, 60, 105, 0.803),
    rgba(0, 0, 0, 0.602)
  );
  background: rgba(9, 108, 183, 0.884);
  /* background-color: rgba(43, 15, 109, 0.628); */
  /* background-color: rgba(0, 0, 0, 0.644); */
  border: none;
  color: white;
  /* box-shadow: 0px 0.5px 1px rgba(0, 0, 0); */
}
.reset:hover {
  background: rgb(251, 83, 53);
  cursor: pointer;
}
.submit:active,
.reset:active {
  transform: translateY(1px);
}

.hidden {
  display: none;
}

.list--div {
  /* background-color: rgba(3, 43, 74, 0.803); */
  background: linear-gradient(
    to left,
    rgba(1, 33, 57, 0.276),
    rgba(0, 0, 0, 0.283)
  );
  /* background: rgba(0, 0, 0, 0.164); */
  background-color: rgba(0, 0, 0, 0.16);
  /* background: rgba(0, 60, 106, 0.281); */
  backdrop-filter: blur(10px);
  height: auto;
  width: 83%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  padding-left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.5px;
  &:hover {
    cursor: pointer;
  }
}
h3 {
  letter-spacing: 0.05rem;
}

/* Size the search bar (input) */
.leaflet-control-geocoder .leaflet-control-geocoder-form input {
  width: 200px;
  height: 40px;
  line-height: 50px;
  padding: 0 8px;
  font-size: 1.2rem;
  box-sizing: border-box;
}
